<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CORE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%date{MM/dd HH:mm:ss} %-5level[%thread] %logger{1} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="OFF">
        <appender-ref ref="CORE"/>
    </root>
</configuration>